* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #BFCFE7;
    font-family: "Black Han Sans", sans-serif;
    height: 100vh;
}

img {
    height: 85%;
    width: 85%;
    padding-top:30px;
    padding-right: 4px;
    padding-left: 10px;
}



/* AQUI EMPIEZA EL MENU LATERAL */
aside {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #2C2A2E;
    width: 13%;
    min-width: 200px;
    height: 100vh;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
}

.menu-navegacion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}

.botones-inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-bottom: 40px;
    width: 80%;
}

.boton-menu {
    display: flex;
    justify-content: left;
    gap: 25px;
    padding: 10px;
    background-color: #1D2D45;
    border-radius: 10px;
    border: solid 3px  #e0e8f0;
    width: 100%;
    max-width: 200px;
    color: white;
    text-align: center;
    height: 45px;
    font-family: "Oswald", sans-serif;
    font-size: 15px;
}

.boton-menu:hover {
    transform: translateY(-2px);
    background-color: #0056b3;
}

/* AQUI ACABA EL MENU LATERAL */

/* AQUI EMPIEZA EL MAIN*/

main{
    position: absolute;
    width: 85%;
    left: 15%;
    box-sizing: border-box;
    overflow-x: hidden; /*soluciona el scroll hacia la derecha*/
    padding:20px;
}

.cabezeraIndex{
    display:flex;
    justify-content:space-between;
    align-items:center;
      & h2{
      font-size:60px;
      margin-left:420px;
      }
      & button{
        cursor:pointer;
      }
}

.cabezera{
    display:flex;
    justify-content:flex-end;
    padding:20px;
    cursor:pointer;
}


h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30%;
    padding-top: 20px;
    text-align: center;
    font-size: 50px;
    color: #2c2a2e;
    text-decoration: underline;
}


/*AQUI EMPIEZA EL FILTRO */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filtros-linea {
    display: flex;
    justify-content: center;
    align-items:flex-end;
    width: 80%;
    max-width: 80%;
    gap: 10px;
}

.campos-form {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 100%;
    max-width: 250px;
}

label{
    margin-bottom: 5px;
    color: #2C2A2E;
}

span{
    color: #2C2A2E;
}

input,select,.boton-aplicar {
    padding: 8px;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    background-color:#BFCFE7;
    border: solid 4px #1D2D45;
    font-family: inherit;
}

.boton-aplicar {
    background-color: #1D2D45;
    color: white;
    border: solid 2px #BFCFE7;
    margin-bottom: 10px;
    margin-top: 10px;
    width:20%;
}

.boton-aplicar:hover {
    background-color: #004080;
}



summary{
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
}

details{
    display: inline ;
    justify-content: center;
    align-content: center;
    width: 100%;
}

/*AQUI ACABA EL FILTRO */


/*AQUI EMPIEZAN LOS POSTS */

.grid-posts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 10px;


}

.posts {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    padding-top: 40px;
}

.post-container {
    padding: 10px;
    background-color: #2C2A2E;
    border-radius: 10px;
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1D2D45;
    color: #BFCFE7;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    max-width: 600px;
    min-width: 600px;
    min-height: 200px;
    margin: 10px;
    box-sizing: border-box;
    border: solid 3px #BFCFE7;
}

.post-titulo {
    font-weight: bold;
    font-size: 1.2em;
}

.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    margin-top: 5px;
}

.post-usuario, .post-fecha, .post-likes  {
    color: #BFCFE7;
}

.post-titulo {
    font-size: 1.5em;
    color: #BFCFE7;
    margin-bottom: 5px;
}

.post-descripcion {
    font-size: 0.9em;
    color: white;
}

.boton-like {
    border: solid 3px #BFCFE7;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.9em;
    cursor: pointer;
    width: 6%;
    height: auto;
    background-color:#1D2D45;
}
.likePulsado{
    background-color:#BFCFE7;
}



/*AQUI ACABAN LOS POSTS */

/* AQUI ACABA EL MAIN*/

/*ESTO SON LOS BUTTON DE LOGIN, CREATE ACCOUNT Y NEW POST*/
button {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    background-color: #1D2D45;
    border-radius: 10px;
    border: solid 3px  #e0e8f0;
    color: white;
    width: auto;
    text-align: center;
    height: 45px;
    justify-content: center;
    cursor:pointer;
}


header{
    display: none;
}

.h2IndexMovil{
    display:none;
}

@media (max-width: 700px) {
    body{
        padding: 0;
        margin: 0;
    }

    header{
        display: flex;
        justify-content: space-between;
        background-color: #2C2A2E;
        padding: 10px;
        width: 100%;
    }
    .cabezeraIndex{
        display:none;
        & btn-tema{
            display:none;
        }
    }


    .cabezera{
        display:none;
    }


    h2 {
        font-size: 25px;
    }

    body {
        font-size: 10px;
    }

    .aside-ordenador{
        display: none;
    }

    .img-header {
        height: 25%;
        width: 25%;
        padding: 0;
    }

    .img-aside{
        height: 130px;
        width: 130px;
    }

    .hamburguesa {
        width: 55px;
        height: 55px;
        padding-right: 1%;
    }

    summary {
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .aside-movil {
        position: fixed;
        top: 0%;
        width: 150px;
        height: 100%;
        background-color: #2c2a2e;
        z-index: 10;
        padding-top: 20px;
    }

    .details-movil {
        width: 65px;
    }

    details[open] .aside-movil {
        left: 0; /*Para q se habra a la izq*/
    }

    .menu-navegacion-header {
        display: flex;
        flex-direction: column;
        padding: 20px;
        width: 100px;
    }

    .grid-posts{
        display:flex;
        flex-direction:column;
    }

    .post-container{
        width:100%;
    }

    .post {
         max-width: 94%;
         min-width: 94%;
    }

    .filtros-linea {
          display:grid;
          grid-template-columns:repeat(2,220px);
          justify-items:center;

      }

      form {
          width: auto;
      }

      .summary-filtro{
          padding-top: 20px;
      }

      .campos-form {
          margin: 1px;
          width: 50%;
          max-width: 120px;
      }

      input,select {
          padding: 4px;
          height: 30px;
          font-size: 10px;
      }

      .boton-aplicar{
          padding: 4px;
          height: 30px;
          width: 90%;
          margin-top:20px;
          cursor:pointer;
      }

    .logo {
        height: 50px;
        width: 50px;
    }

    svg{
        width: auto;
        height: 22px;
    }

    .boton-like {
        width: 10%;
        height: auto;
    }

    main {
        position: relative;
        padding: 20px;
        width: 100%;
        left: 0;
    }


}

