main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 1%;
}

.form-create-account {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
    padding: 50px;
    border: solid 10px #2C2A2E;
    border-radius: 15px;
    background-color: #e0e8f0;
    margin-bottom: 25px;
    margin-top: 2%;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 48%;
}

label {
    color: #2C2A2E;
}

input {
    background-color: #2C2A2E;
    border-radius: 10px;
    border: solid 2px #1D2D45;
    width: 100%;
    margin-bottom: 5px;
    color: white;
}

p {
    color: #2C2A2E;
    text-align: center;
    width: 100%;
    margin-top: 30px;
}

.invalido {
    background-color: #FFDDDD;
    border: 1px solid #FF0000;
}

span{
    color: red;
    font-size:13px;
}

@media (max-width: 700px) {
    .form-create-account {
        width: 100%;

    }
}
